ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 30px 0;
    border-bottom: 1px solid red;
    padding: 10px;
}

ul li {
    cursor: pointer;
    font-family: "Dancing Script";
    font-size: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
li:hover{
    transform: translateY(-10px);
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    
}
.card{
    box-shadow: 0 5px 25px 5px rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family:"Tagesschrift";
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow:0 5px 25px 5px red ;
    transform: translateY(-10px);
    
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

    

.archeuli {
    background-color: rgb(255, 0, 0);
   border-radius: 20px;
}


.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid red;
}
.card-body:hover{
    border-bottom: 3px solid black;
}
button{
    background-color: black;
    font-family: "Tagesschrift";
    color: white;
    border-radius: 30px;
}
button:hover{
    background-color: red;
    color: black;
}









.filter-box {
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.filter-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.filter-box label {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  color: #444;
}

.filter-box input[type="range"] {
  width: 100%;
  margin-top: 5px;
  accent-color: red;
}

.filter-box input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
}

.filter-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-box button:hover {
  background-color: darkred;
}
