@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merienda:wght@300..900&family=Tagesschrift&display=swap');

form {
    max-width: 600px;
    box-shadow: 0 0 20px 2px grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Tagesschrift";
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover{
     transform: translateY(-10px);
      box-shadow:0 5px 25px 5px red ;
}
form .mainArea {
    display: flex;
    gap: 30px;
}

.left, .right {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

input, button, select {
    height: 35px;
}

button{
    background-color: black;
    color: white;
    border-radius: 30px;
}
button:hover{
    background-color: red;
    color: black;
}

.area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}
@media only screen and (max-width:1440px) {
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    input{
        width: 150px;
    }
   .mainArea{
    display: flex;
    align-items: center;
    flex-direction: column;
   }

   
}