.user-card {
  border: 1px solid #ddd;
  padding: 16px;
  margin-top: 20px;
  border-radius: 8px;
  max-width: 300px;
  background: #f9f9f9;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}
.user-card h2 {
  margin-bottom: 12px;
  font-size: 1.5rem;
}
.user-card img {
  border-radius: 50%;
  margin-top: 10px;
}
section{
    display: flex;
    justify-content: center;
}
